build/
 
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
 
*.o
*.out
*.a
*.so
 
*.swp
*.swo
*.DS_Store
 
thirdparty/*/build/
thirdparty/*/CMakeFiles/
thirdparty/*/CMakeCache.txt
thirdparty/*/Makefile
 
*.log
*.tmp
